bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/.idea/.idea.console-expense-tracker/.idea/.gitignore
/.idea/.idea.console-expense-tracker/.idea/encodings.xml
/.idea/.idea.console-expense-tracker/.idea/indexLayout.xml
/.idea/.idea.console-expense-tracker/.idea/vcs.xml
